body {
    padding: 0;
    margin: 0;
  }
  
  #sec1{
    background-color: white;
    width: 70% ;
    float: left;
    height: 648px; /* Ver como abarcar la pantalla completa */
  
  }

  #sec15{
    float: right;
    margin-left: 70%;
  }
  
  #div1{
    margin: 30%;
    background-color: white;
  }
  
  #boton1{
    background-color: #572AB0;
    color: white;
    border-style: none;
    border-radius: 8px;
    width: 30%;
    margin: 20px;
    height: 40px;
    border-radius: 18px;
    font-family: 'Poppins', sans-serif;
    float: right;
    margin-top: 30%;
    margin-right: -5%;
    padding-top: 7px;
    position: relative;
  }

  #boton5{
    margin-left: -50%;
    
    background-color: #572AB0;
    color: white;
    border-style: none;
    border-radius: 8px;
    width: 30%;
    height: 40px;
    border-radius: 18px;
    font-family: 'Poppins', sans-serif;
    margin-top: 30%;
    padding-top: 7px;
  }
  
  #sec2{
    background-color: #0AD5BD;
    height: 648px;
    padding: 90px;
  }
  
  #div2{
    margin-left: 830px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
  }
  
  #encabezado1{
    margin: 20px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
  }
  
  /* puntuacion quiz ------------------------------------------------------------------------------*/
  #encabezado3{
    text-align: center;
    padding-top: 140px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 40px;
    font-weight: 600;
  }
  
  
  #sec4 {
     margin: 10%;
     margin-bottom: 8%;
     margin-top: 1%;
     background-color: #D9F3F0;
     padding: 10px;
     padding-left: 50px;
     padding-right: 50px;
     padding-top: 50px;
     border-color: #572AB0;
     border-style: inset;
     border-radius: 18px;
  }
  
  #container1{
    padding: 10px;
    font-family: 'Poppins', sans-serif;
  }
  
  #list{
    text-align: center;
    width: 90%;
    margin-left: 5%;
    font-family: 'Poppins', sans-serif;
    /* background-color: red; */
  }
  
  #check{
    margin-top: 10px;
  }
  
  #boton2{
    background-color: #572AB0;
    color: white;
    border-style: none;
    border-radius: 18px;
    width: 30%;
    height: 40px;
    margin: 20px;
    margin-top: 30px;
    margin-left: 70%;
    float: right; 
    font-size: 15px;
  }
  
  #pasarpag {
    margin-top: 25px;
    margin-left: 20px;
    color: #E855BE;
    font-family: 'Poppins', sans-serif;
  }
  
  #form{
margin-top: 350px;
  }

#divgrande{
  width:50%;
  float: left;
  padding-right: 2%;
}

#divpequeño{
  width:50%;
  float: right;
  text-align: justify;
}

#divpequeño2{
  width:50%;
  float: left;
  margin-left: 50%;
}

#label{
  margin-right: 90%;

}