

.bodyLogin{
    display: flex;
    justify-content: center;
    margin: 0;
}

.card{
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.card-body{
    background-color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 18px 18px 15px -3px rgba(0,0,0,0.1);
    
}

.botondiv{
    display: flex;
    
}

.btn-login{
    border-radius: 90px;
    background-color: #572ab0;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

.card-title{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: black;
}

.form-control{
   
    font-family: 'Poppins';
    border-color: #9b59b6;

    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}


.form-control:focus{
    border-color: #9b59b6;
    box-shadow: none;
}

.pregunta{
    font-family: 'Poppins', sans-serif;
  }
  
  .text-purple{
    color: #572ab0;
    list-style: none;
    text-decoration: none;
  }